<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <services>
      <configurator type="Foundation.ContentHubExtensions.DependencyInjection.ServicesConfigurator, Foundation.ContentHubExtensions"/>
    </services>
    <pipelines>
      <cmp.importEntity role:require="ContentManagement or Standalone">
        <processor type="Foundation.ContentHubExtensions.Pipelines.cmp.importEntity.SearchDatabase, Foundation.ContentHubExtensions" 
                   resolve="true"
                   patch:instead="*[@type='Sitecore.Connector.CMP.Pipelines.ImportEntity.SearchIndex, Sitecore.Connector.CMP']" />

        <processor type="Foundation.ContentHubExtensions.Pipelines.cmp.importEntity.EnsureItem, Foundation.ContentHubExtensions" 
                   resolve="true"
                   patch:instead="*[@type='Sitecore.Connector.CMP.Pipelines.ImportEntity.EnsureItem, Sitecore.Connector.CMP']" />

        <processor type="Foundation.ContentHubExtensions.Pipelines.cmp.importEntity.EnsureRelation, Foundation.ContentHubExtensions"
                   resolve="true"
                   patch:instead="*[@type='Sitecore.Connector.CMP.Pipelines.ImportEntity.EnsureRelation, Sitecore.Connector.CMP']"  />

        <processor type="Foundation.ContentHubExtensions.Pipelines.cmp.importEntity.PostSaveEntity, Foundation.ContentHubExtensions"
                   resolve="true"
                   patch:after="*[@type='Sitecore.Connector.CMP.Pipelines.ImportEntity.SaveTagValues, Sitecore.Connector.CMP']" />
      </cmp.importEntity>
    </pipelines>
  </sitecore>
</configuration>